<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.njjd.walnuts">
    <!-- 网络状态权限 -->
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />

    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.RECORD_AUDIO" />
    <uses-permission android:name="android.permission.CAMERA" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.MODIFY_AUDIO_SETTINGS" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <application
        android:icon="@drawable/logo"
        android:label="@string/app_name"
        android:roundIcon="@drawable/logo"
        android:supportsRtl="true"
        android:name="com.njjd.application.AppAplication"
        android:theme="@style/AppTheme">
        <meta-data android:name="com.njjd.application.MyGlide"
            android:value="WalnutsCache"></meta-data>
        <!-- 移动统计分析 -->
        <meta-data
            android:name="IFLYTEK_APPKEY"
            android:value="'59df0a58'" />
        <meta-data
            android:name="IFLYTEK_CHANNEL"
            android:value="Android_Demo" />
        <activity
            android:name=".AppIntroActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".LoginActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WelcomeActivity"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".BindActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".PubArticleActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ColumnActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SearchQuesDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".ArticleComReplyActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".InterestActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".WebViewActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".SelectQuestionActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".MainActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ForgetPwdActivity"
            android:screenOrientation="portrait">

        </activity>
        <activity
            android:name=".SearchActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".RegisterActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize|stateHidden"></activity>
        <activity
            android:name=".AttentionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ColumnDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SuccessActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".TagActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AskKindActivity"
            android:screenOrientation="portrait"></activity>

        <activity
            android:name=".ChangePwdActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AgreementActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SelectAnswerDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".AskActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".AnswerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".ChatActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustResize">
        </activity>
        <activity
            android:name=".PersonalActivity"
            android:screenOrientation="portrait"
          ></activity>
        <activity
            android:name=".PeopleInfoActivity"
            android:screenOrientation="portrait"
           ></activity>
        <activity
            android:name=".SetPasswordActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SaveDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".IndexDetailActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".SettingActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyAnswerActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyFocusActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MyQuestionActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name=".MySaveActivity"
            android:screenOrientation="portrait"></activity>
        <activity
            android:name="com.njjd.utils.ImagePagerActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name="com.njjd.utils.SpaceImageDetailActivity"
            android:screenOrientation="portrait">
        </activity>
        <activity
            android:name=".FeedBackActivity"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="adjustPan"></activity>
        <!-- 友盟key-->
        <meta-data
            android:name="UMENG_APPKEY"
            android:value="596f2fd2310c9366060018e6"></meta-data>
        <!-- Sina -->
        <activity
            android:name="com.umeng.socialize.media.WBShareCallBackActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>
        <activity
            android:name="com.sina.weibo.sdk.web.WeiboSdkWebActivity"
            android:configChanges="keyboardHidden|orientation"
            android:exported="false"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar"></activity>

        <activity
            android:name=".WBShareActivity"
            android:configChanges="keyboardHidden|orientation"
            android:screenOrientation="portrait">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>
        </activity>
        <activity
            android:name="com.sina.weibo.sdk.share.WbShareTransActivity"
            android:launchMode="singleTask"
            android:theme="@android:style/Theme.Translucent.NoTitleBar.Fullscreen">
            <intent-filter>
                <action android:name="com.sina.weibo.sdk.action.ACTION_SDK_REQ_ACTIVITY" />
                <category android:name="android.intent.category.DEFAULT" />
            </intent-filter>

        </activity>
        <!-- QQ -->
        <activity
            android:name="com.tencent.tauth.AuthActivity"
            android:launchMode="singleTask"
            android:noHistory="true">

            <intent-filter>
                <action android:name="android.intent.action.VIEW" />

                <category android:name="android.intent.category.DEFAULT" />
                <category android:name="android.intent.category.BROWSABLE" />

                <data android:scheme="tencent1106091328" />
            </intent-filter>

        </activity>

        <activity
            android:name="com.tencent.connect.common.AssistActivity"
            android:configChanges="orientation|keyboardHidden|screenSize"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <activity
            android:name=".wxapi.WXEntryActivity"
            android:configChanges="keyboardHidden|orientation|screenSize"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@android:style/Theme.Translucent.NoTitleBar" />
        <!-- 友盟推送-->
        <meta-data
            android:name="UMENG_MESSAGE_SECRET"
            android:value="a1d99ff7455fd05234f544e8674b5a34"></meta-data>
        <meta-data
            android:name="UMENG_CHANNEL"
            android:value="walnuts"></meta-data>

         设置环信应用的AppKey
        <meta-data android:name="EASEMOB_APPKEY"  android:value="847443371#walnuts" />
        <!-- 声明SDK所需的service SDK核心功能-->
        <service android:name="com.hyphenate.chat.EMChatService" android:exported="true"/>
        <service android:name="com.hyphenate.chat.EMJobService"
            android:permission="android.permission.BIND_JOB_SERVICE"
            android:exported="true"
            />
        <!-- 声明SDK所需的receiver -->
        <receiver android:name="com.hyphenate.chat.EMMonitorReceiver">
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_REMOVED"/>
                <data android:scheme="package"/>
            </intent-filter>
            <!-- 可选filter -->
            <intent-filter>
                <action android:name="android.intent.action.BOOT_COMPLETED"/>
                <action android:name="android.intent.action.USER_PRESENT" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="PGYER_APPID"
            android:value="d531894c25e22e4c75f3642cdd124113" >
        </meta-data>
    </application>

</manifest>